<!-- repetido en Homeorganizador -->
<div style="text-align: center">
  <div style="background: linear-gradient(180deg, rgba(255,130,0,0.7637255585828081) 10%, rgba(255,130,0,0.02) 100%);
              width:100%;
              display: inline-block;">
    <div style="float: left;margin-top: 10px;">
      <img style="width: 400px;" src="../assets/images/logo_app_2.png" />
    </div>
    <div style="margin-top: 2%; ;float: right; margin-right: 40px;">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="" id="botonCuenta" style="border-radius: 100px; outline: none; background-color: transparent; border: none" id="dropdownBasic1" ngbDropdownToggle><img style=" width: 60px;" src="../assets/images/icono_account.png" /></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a style="text-decoration: none;" routerLink="/edit-user"><button ngbDropdownItem>Mi Perfil</button></a>
              <div class="dropdown-divider"></div>
              <a style="text-decoration: none;" routerLink="/login" (click)="logOut()"><button ngbDropdownItem>Cerrar Sesion</button></a>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div><br>
<div
  style="justify-content: center; display: flex; background-color: #ffffff77"
>
  <div
    *ngIf="user_tipo == 'Organizador'"
    style="width: fit-content; text-align: center"
    class="justify-content-md-center"
  >
    <h1>¿Te perdiste?</h1>
    <br />
    <a
      routerLink="/home-organizador"
      class="btn btn-primary btn-lg"
      style="margin-right: 15px"
      href="#"
      role="button"
      >Volver a mi Home</a
    >
  </div>
</div>

<div
  *ngIf="user_tipo == 'FoodTrucker'"
  class="jumbotron"
  style="background-color: #fefefebb"
>
  <div>
    <h1 class="display-4">
      ¡Bienvenido <b> {{ user_username }}</b>!
    </h1>
    <p class="lead">Este es el home para los usuarios <b>FoodTruckers</b>.</p>
    <hr class="my-4" />
    <p>
      Todavia esta en desarrollo, por lo que por el momento solo podes realizar
      las siguientes acciones.
    </p>
    <p class="lead">
      <a
        class="btn btn-primary btn-lg"
        style="margin-right: 15px; margin-top: 5px; margin-bottom: 5px;"
        routerLink="/new-foodtruck"
        role="button"
        >Agregar FoodTruck</a
      >
      <a
        class="btn btn-primary btn-lg"
        style="margin-right: 15px;margin-top: 5px; margin-bottom: 5px;"
        routerLink="/list-foodtrucks"
        role="button"
        >Ver Mis FoodTrucks</a
      >
    </p>
  </div>
 </div>

<!-- Este cachito te permite cargar una imagen, la convierte a base64 y la guarda en una coleccion para cuando toques enviar, 
    deberia ir en el formulario de nuevo foodtruck. Tambien te muestra preview, pero algo no anda asi que queda comentado
<div style="text-align: center; background-color: #ffffff88;">
  <H1>PRUEBA IMAGENES</H1>
 <form #register="ngForm" ngNativeValidate (ngSubmit)="onSubmit(register)">
    <label>Elegi una imagen</label><br>
    <input type="file" name="image" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" /><BR><BR>
    <button type="submit"> ENVIAR </button>
    <br><br>
    <img *ngFor="let item of base64textString"  src={{item}} alt="" style="width: fit-content; height: fit-content; max-width: 350px; max-height: 350px;" id="img">
    

 </form>
 
</div>-->
 
