<div *ngIf="enviado" class="row justify-content-md-center" style="text-align: center;">
  <div class="alert alert-success col-md-3" role="alert">
    ¡Perfil editado con exito!
  </div>  
  <a routerLink="/list-foodtrucks" class="btn btn-success btn-lg" style="margin-right: 15px;" href="#" role="button">Volver al listado</a>
</div>
<div style="border-radius: 10px;margin-right: 15%; margin-left: 15%; margin-bottom: 3%; margin-top: 5%; background-color: #ffffffcc;">
  <form style="padding-top: 20px; padding-bottom: 30px; padding-right: 30px; padding-left: 30px;" #edit="ngForm" ngNativeValidate (ngSubmit)="onSubmit(edit)">
    <div style="text-align: center; margin-bottom: 20px;">
      <h3><b>ACTUALIZANDO FOODTRUCK</b></h3>
    </div>
    <div class="form row">
      <div class="form-group col-md-4" >
        <label for=""><b>Nombre</b></label>
        <input
          type="text"
          name="nombre"
          value="{{nombre}}"
          ngModel 
          required
          class="form-control"
        />
      </div>
      <div class="form-group col-md-4">
        <label for=""><b>Tipo de Servicio</b></label>
        <input
          type="text"
          name="tipo_servicio"
          value="{{tipo_servicio}}"
          ngModel
          required
          class="form-control"
          placeholder="Ingrese un tipo de servicio"
        />
      </div>
      <div class="form-group col-md-4">
        <label for=""><b>URL Web</b></label>
        <input
          type="text"
          value="{{url}}"
          name="url"
          ngModel
          required
          class="form-control"
          placeholder="Ingrese la dirección URL de su web "
        />
      </div>
    </div>
    <div class="form row">
      <div class="form-group col-md-12">
        <label for=""><b>Descripción</b></label>
        <textarea
          cols="15"
          rows="3"
          name="descripcion"
          value="{{descripcion}}"
          ngModel
          required
          class="form-control"
          placeholder="Ingrese una breve descripción"
        ></textarea>
      </div>
    </div>
    <div style="text-align: center;">
      <h4><b>REDES</b></h4>
    </div>
    <div class="form row">
      

      <div class="form-group col-md-4">
        <label for=""><b>Instagram</b></label>
        <input
          type="text"
          name="instagram"
          value="{{instagram}}"
          placeholder="@instagram"
          ngModel
          required
          class="form-control"
        />
      </div>
      

      <div class="form-group col-md-4">
        <label for=""><b>Facebook</b></label>
        <input
          type="text"
          name="facebook"
          value="{{facebook}}"
          placeholder="Pagina de Facebook"
          ngModel
          required
          class="form-control"
        />
      </div>
      

      <div class="form-group col-md-4">
        <label for=""><b>WhatsApp</b></label>
        <input
          type="text"
          name="whatsapp"
          value="{{whatsapp}}"
          placeholder="Numero de WhatsApp"
          ngModel
          required
          class="form-control"
        />
      </div>
    </div>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary">GUARDAR</button>
    </div>
  </form>
</div>