<!-- repetido en Homeorganizador -->
<div style="text-align: center">
    <div style="background: linear-gradient(180deg, #ff8200c3 10%, rgba(255,130,0,0.02) 100%);
                width:100%;
                display: inline-block;">
      <div style="float: left;margin-top: 10px;">
        <a routerLink="/home-organizador"><img style="width: 400px;" src="../assets/images/logo_app_2.png" /></a>
      </div>
      <div style="margin-top: 2%; ;float: right; margin-right: 40px;">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="" id="botonCuenta" style="border-radius: 100px; outline: none; background-color: transparent; border: none" id="dropdownBasic1" ngbDropdownToggle><img style=" width: 60px;" src="../assets/images/icono_account.png" /></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a *ngIf="user_tipo=='Organizador'" style="text-decoration: none;" routerLink="/list-eventos"><button ngbDropdownItem>Mis Eventos</button></a>
                <a *ngIf="user_tipo=='FoodTrucker'" style="text-decoration: none;" routerLink="/list-foodtrucks"><button ngbDropdownItem>Mis FoodTrucks</button></a>
                <div class="dropdown-divider"></div>
                <a style="text-decoration: none;" routerLink="/edit-user"><button ngbDropdownItem>Mi Perfil</button></a>
                <div class="dropdown-divider"></div>
                <a style="text-decoration: none;" routerLink="/login" (click)="logOut()"><button ngbDropdownItem>Cerrar Sesion</button></a>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
</div><br>


<!--DIV CENTRAL-->
<div style="width: 100%; height: 100%; overflow: hidden;">
    <div style="width: 100%; text-align: center;">
        <div style="font-size: 27px;font-weight: bold ;color: white; -webkit-text-stroke: 0.8px #000000cc;">Resultados de tu busqueda: {{ fts.length }} resultados</div>
    </div>
    <div class="container" style="overflow: auto; outline: none;max-height: 700px; max-width: 90%; background-color: #ffffff33; border-radius: 10px;">
        <div class="row" style="margin-top: 20px;; outline: none">
            <div  class="col" style="margin-bottom: 20px; margin-left: 15px ;height: 400px; width: 300px;; outline: none " *ngFor="let ftr of fts; index as i">
                <div class="row" style="width: 300px; outline: none;">
                  <ngb-carousel *ngIf="ftr.imagenes" style="width: 300px; outline: none;">
                    <ng-template ngbSlide *ngFor="let ftrImg of ftr.imagenes">
                      <div class="picsum-img-wrapper"  >
                        <img [src]="ftrImg" alt="Random first slide" style="width: 300px; height: 200px; outline: none; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                      </div>
                    </ng-template>
                  </ngb-carousel>

<!--                    <img [src]="ftr.imagenes[0]" alt="My image {{i + 1}} description" 
                         style="width: 300px; height: 200px; border-top-left-radius: 15px; border-top-right-radius: 15px;">-->
                </div>
                <div class="row" style="background-color: #ffffffdd;width: 300px;
                                        border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                    <div style="padding: 8px; width: 100%; margin-left: 10px;">
                        <div style="overflow: auto; max-height: 150px;">
                            <div style="font-size: 20px; font-weight: bold;">
                                {{ ftr.nombre}}
                            </div>
                            <div style="font-size: 20px;">
                                {{ ftr.tipo_servicio}}
                            </div>
                            <div style="font-size: 15px;">
                                {{ ftr.instagram}}
                            </div>
                            <div style="font-size: 15px;">
                                {{ ftr.url}}
                            </div>
                            <div style="font-size: 15px; font-style: italic;">
                                {{ ftr.descripcion}}
                            </div>
                            
                        </div>
                        <div style="text-align: center; margin-top: 10px;">
                            <a routerLink="/reservar" [state]="{ ft: ftr}"> <button class="btn btn-primary"> RESERVAR </button> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" *ngFor="let i of restante"></div>
        </div>
    </div>
    
</div>



<!--
<div
    *ngIf="user_tipo == 'Organizador'"
    class="jumbotron"
    style="background-color: #fefefebb"
    >
    <div>
      <h1 class="display-4">
        ¡Bienvenido <b> {{ user_username }}</b>!
      </h1>
      <p class="lead">Este es el home para los usuarios <b>Organizador</b>.</p>
      <hr class="my-4" />
      <p>
        Todavia esta en desarrollo, por lo que por el momento solo podes realizar
        las siguientes acciones.
      </p>
    </div>
</div>-->