<div style="text-align: center">
  <div
    style="
      background: linear-gradient(
        180deg,
        rgba(255, 130, 0, 0.7637255585828081) 10%,
        rgba(255, 130, 0, 0.02) 100%
      );
      width: 100%;
      display: inline-block;
    "
  >
    <div style="float: left; margin-top: 10px">
      <a routerLink="/home-foodtrucker"
        ><img style="width: 400px" src="../assets/images/logo_app_2.png"
      /></a>
    </div>
    <div style="margin-top: 2%; float: right; margin-right: 40px">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              class=""
              id="botonCuenta"
              style="
                border-radius: 100px;
                outline: none;
                background-color: transparent;
                border: none;
              "
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <img
                style="width: 60px"
                src="../assets/images/icono_account.png"
              />
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a style="text-decoration: none" routerLink="/edit-user"
                ><button ngbDropdownItem>Mi Perfil</button></a
              >
              <div class="dropdown-divider"></div>
              <a
                style="text-decoration: none"
                routerLink="/login"
                (click)="logOut()"
                ><button ngbDropdownItem>Cerrar Sesion</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-left: 3%; margin-right: 3%">
  <div style="text-align: center">
    <a
      class="btn btn-primary btn-lg"
      style="margin-bottom: 20px"
      routerLink="/new-foodtruck"
      role="button"
      >NUEVO FOODTRUCK</a
    >
  </div>
  <div style="overflow: auto; max-height: 400px">
    <table class="table table-striped table-light" style="border-radius: 10px">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo de servicio</th>
          <th scope="col">Descripción</th>
          <th scope="col">URL</th>
          <th scope="col">Instagram</th>
          <th scope="col">Whatsapp</th>
          <th scope="col">Facebook</th>
          <th scope="col">Puntaje</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ft of foodtrucks">
          <td>​{{ ft.nombre }}​</td>
          <td>​{{ ft.tipo_servicio }}​</td>
          <td>​{{ ft.descripcion }}​</td>
          <td>​{{ ft.url }}​</td>
          <td>​{{ ft.instagram }}​</td>
          <td>​{{ ft.whatsapp }}​</td>
          <td>​{{ ft.facebook }}​</td>
          <td>​{{ ft.puntaje }}​</td>
          <td>
            ​​<a
              class="btn btn-warning btn-lg"
              role="button"
              (click)="modificarFoodTruck(ft.id)"
              routerLink="edit-foodtruck"
              >Modificar</a
            >
          </td>
          <td>
            <!--<a
              class="btn btn-danger btn-lg"
              role="button"
              (click)="borrarFoodTruck(ft.id)"
              onclick="return confirm('¿Esta seguro que desea eliminar este FoodTruck? Esta accion no tiene vuelta atras.')"
              >Borrar</a>-->
            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title"></h4>
              </div>
              <div class="modal-body" style="text-align: center">
                <p>¿Estas seguro que deseas <b>eliminar</b> este FoodTruck?</p>
                <p style="font-weight: lighter">
                  Esta accion no tendra vuelta atras
                </p>
                <div style="display: inline-block; text-align: center">
                  <button
                    class="btn btn-secondary"
                    (click)="d('Cross click')"
                    style="margin-right: 20px"
                  >
                    CANCELAR
                  </button>
                  <button class="btn btn-danger" (click)="borrarFoodTruck(ft)">
                    BORRAR
                  </button>
                </div>
              </div>
            </ng-template>

            <button class="btn btn-danger" (click)="open(content)">
              Borrar</button
            >​​
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
