<!-- barra superior  -->
<div style="text-align: center">
    <div style="background: linear-gradient(180deg, rgba(255,130,0,0.7637255585828081) 10%, rgba(255,130,0,0.02) 100%);
                width:100%;
                display: inline-block;">
      <div style="float: left;margin-top: 10px;">
        <a routerLink="/home-organizador"><img style="width: 400px;" src="../assets/images/logo_app_2.png" /></a>
      </div>
      <div style="margin-top: 2%; ;float: right; margin-right: 40px;">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="" id="botonCuenta" style="border-radius: 100px; outline: none; background-color: transparent; border: none" id="dropdownBasic1" ngbDropdownToggle><img style=" width: 60px;" src="../assets/images/icono_account.png" /></button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a *ngIf="user_tipo=='Organizador'" style="text-decoration: none;" routerLink="/list-eventos"><button ngbDropdownItem>Mis Eventos</button></a>
                <a *ngIf="user_tipo=='FoodTrucker'" style="text-decoration: none;" routerLink="/list-foodtrucks"><button ngbDropdownItem>Mis FoodTrucks</button></a>
                <div class="dropdown-divider"></div>
                    <a style="text-decoration: none;" routerLink="/edit-user"><button ngbDropdownItem>Mi Perfil</button></a>
                <div class="dropdown-divider"></div>
                    <a style="text-decoration: none;" routerLink="/login" (click)="logOut()"><button ngbDropdownItem>Cerrar Sesion</button></a>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
</div>

<div style="width: 100%; justify-content: center; display: flex;">
    <div style="justify-content: center; background-color: #ffffffbb; padding-top: 20px; padding-left: 20px; 
    padding-right: 20px; padding-bottom: 20px; border-radius: 10px; text-align: center;" class="col-sm-4">
        <h3><b>SOLICITUD DE RESERVA</b></h3>
        <div>
            <!--div para resumen-->
            <div>
                <!--div para foodtruck-->
                <div style="font-size: 30px; font-weight: normal; color: black; text-align: left;">FoodTruck</div>
                <div style="background-color: #00000099; padding-top: 10px; padding-bottom: 10px; 
                                                margin-bottom: 20px; margin-top: 5px; margin-left: 50px;margin-right: 20px;">
                    <div>
                        <div class="col my-auto">
                            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 23px; text-align: left; font-weight: bold;">
                                {{ foodtruck.nombre }}
                            </div>
                            <div style="color: white;font-size: 18px; text-align: left;">
                                {{ foodtruck.tipo_servicio }}
                            </div>
                            <div style="color: white;font-size: 18px; text-align: left; font-weight: lighter;">
                                {{ foodtruck.url }}
                            </div>
                        </div>
                    </div>
                </div>

                <!--div para evento-->
                <div style="font-size: 30px; font-weight: normal; color: black; text-align: left;">Evento   <button class="btn btn-outline-primary mb-2 mr-2" (click)="openScrollableContent(longContent)">SELECCIONAR</button></div> 
                <div *ngIf="haySeleccion" style="background-color: #00000099; padding-top: 10px; padding-bottom: 10px; 
                                            margin-bottom: 20px; margin-top: 5px; margin-left: 50px;margin-right: 20px;">
                    <div>
                        <div class="col my-auto">
                            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 23px; text-align: left; font-weight: bold;">
                                {{ eventoSeleccionado.nombre }}
                            </div>
                            <div style="color: white;font-size: 18px; text-align: left;">
                                {{ eventoSeleccionado.fecha_hora }}
                            </div>
                            <div style="color: white;font-size: 18px; text-align: left; font-weight: lighter;">
                                {{ eventoSeleccionado.direccion }}. {{ eventoSeleccionado.provincia }}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                                        
                      <ng-template #longContent let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title">Elegí un evento</h4>
                          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div *ngFor="let ev of eventos; index as i" style="background-color: #00000099; padding-top: 10px; padding-bottom: 10px; 
                                            margin-bottom: 20px; margin-top: 5px; margin-left: 20px;margin-right: 20px;">
                                <button (click)="marcarSeleccionado(ev)" style="background: transparent; border: none; outline: none;">
                                    <div>
                                        <div class="col my-auto">
                                            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 23px; text-align: left; font-weight: bold;">
                                                {{ ev.nombre }}
                                            </div>
                                            <div style="color: white;font-size: 18px; text-align: left;">
                                                {{ ev.fecha_hora }}
                                            </div>
                                            <div style="color: white;font-size: 18px; text-align: left; font-weight: lighter;">
                                                {{ ev.direccion }}. {{ ev.provincia }}
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                          
                        </div>
                      </ng-template>
                    <a routerLink="/home-organizador"><button   class="btn btn-danger mb-2 mr-2" (click)="confirmarReserva()">CANCELAR</button></a>
                    <button *ngIf="!haySeleccion" style="margin-left: 20px;" disabled class="btn btn-success mb-2 mr-2">CONFIRMAR</button>
                    <button *ngIf="haySeleccion" style="margin-left: 20px;" class="btn btn-success mb-2 mr-2" (click)="cancelar()">CONFIRMAR</button>
                </div>
            </div>
        </div>
    </div>
</div>