<div style="text-align: center">
  <div style="background: linear-gradient(180deg, rgba(255,130,0,0.7637255585828081) 10%, rgba(255,130,0,0.02) 100%);
              width:100%;
              display: inline-block;">
    <div style="float: left;margin-top: 10px;">
      <a routerLink="/home-foodtrucker"><img style="width: 400px;" src="../assets/images/logo_app_2.png" /></a>
    </div>
    <div style="margin-top: 2%; ;float: right; margin-right: 40px;">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="" id="botonCuenta" style="border-radius: 100px; outline: none; background-color: transparent; border: none" id="dropdownBasic1" ngbDropdownToggle><img style=" width: 60px;" src="../assets/images/icono_account.png" /></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a *ngIf="user_tipo=='Organizador'" style="text-decoration: none;" routerLink="/list-eventos"><button ngbDropdownItem>Mis Eventos</button></a>
              <a *ngIf="user_tipo=='FoodTrucker'" style="text-decoration: none;" routerLink="/list-foodtrucks"><button ngbDropdownItem>Mis FoodTrucks</button></a>
              <div class="dropdown-divider"></div>
              <a style="text-decoration: none;" routerLink="/edit-user"><button ngbDropdownItem>Mi Perfil</button></a>
              <div class="dropdown-divider"></div>
              <a style="text-decoration: none;" routerLink="/login" (click)="logOut()"><button ngbDropdownItem>Cerrar Sesion</button></a>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div><br>
<div>
  <div *ngIf="error" class="row justify-content-md-center" style="text-align: center;">
    <div class="alert alert-danger col-md-3" role="alert">
      ¡Alguno de los datos ingresados no son correctos!
    </div>  
  </div>
  <div style="justify-content: center; display: flex;">
    <div style="border-radius: 10px;margin-right: 15%; margin-left: 15%; background-color: #ffffffdd;">
      <form *ngIf="!enviado" style="padding-top: 20px; padding-bottom: 30px; padding-right: 30px; padding-left: 30px; width: 1000px;" #edit="ngForm" ngNativeValidate (ngSubmit)="onSubmit(edit)">
        <div style="text-align: center; margin-bottom: 20px;">
          <h3><b>NUEVO FOODTRUCK</b></h3>
        </div>
        <div class="form row">
          <div class="form-group col-md-4" >
            <label for=""><b>Nombre</b></label>
            <input
              type="text"
              name="nombre"
              ngModel 
              
              class="form-control"
              placeholder="Ingrese un nombre"
            />
          </div>
          <div class="form-group col-md-4">
            <label for=""><b>Tipo de Servicio</b></label>
            <input
              type="text"
              name="tipo_servicio"
              ngModel
              
              class="form-control"
              placeholder="Ingrese un tipo de servicio"
            />
          </div>
          <div class="form-group col-md-4">
            <label for=""><b>URL Web</b></label>
            <input
              type="text"
              name="url"
              ngModel
              
              class="form-control"
              placeholder="Ingrese la dirección URL de su web "
            />
          </div>
        </div>
        <div class="form row">
          <div class="form-group col-md-6">
            <label for=""><b>Descripción</b></label>
            <textarea
              cols="15"
              rows="3"
              name="descripcion"
              ngModel
              
              class="form-control"
              placeholder="Ingrese una breve descripción"
            ></textarea>
          </div>
          <div class="form-group col-md-6">
            <label><b>Elegi una imagen</b></label><br>
            <input 
              type="file" 
              name="image" 
              (change)="onUploadChange($event)" 
              accept=".png, .jpg" />
              <img src={{imgFoodTruck}} alt="" style="margin-top: 10px; max-width: 100px; max-height: 100px;" id="img">
          </div>
          
        </div>
        <div style="text-align: center;">
          <h4><b>REDES</b></h4>
        </div>
        <div class="form row">    
          <div class="form-group col-md-4">
            <label for=""><b>Instagram</b></label>
            <input
              type="text"
              name="instagram"
              placeholder="@instagram"
              ngModel
              
              class="form-control"
            />
          </div>
          
    
          <div class="form-group col-md-4">
            <label for=""><b>Facebook</b></label>
            <input
              type="text"
              name="facebook"
              placeholder="Pagina de Facebook"
              ngModel
              
              class="form-control"
            />
          </div>
          
    
          <div class="form-group col-md-4">
            <label for=""><b>WhatsApp</b></label>
            <input
              type="text"
              name="whatsapp"
              placeholder="Numero de WhatsApp"
              ngModel
              
              class="form-control"
            />
          </div>
        </div>
        <div style="text-align: center;">
          <button type="submit" class="btn btn-primary">ENVIAR</button>
        </div>
      </form>
    </div>
    <div *ngIf="enviado" class="row justify-content-md-center" style="text-align: center;">
      <div class="alert alert-success col-md-3" role="alert">
        ¡FoodTruck cargado con exito!
      </div>  
   </div>
  </div>
</div>
