<!--BARRA DE NAVEGACION SUPERIOR-->
<div style="text-align: center">
  <div style="background: linear-gradient(180deg, rgba(255,130,0,0.7637255585828081) 10%, rgba(255,130,0,0.02) 100%);
              width:100%;
              display: inline-block;">
    <div style="float: left;margin-top: 10px;">
      <img style="width: 400px;" src="../assets/images/logo_app_2.png" />
    </div>
    <div style="margin-top: 2%; ;float: right; margin-right: 40px;">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="" id="botonCuenta" style="border-radius: 100px; outline: none; background-color: transparent; border: none" id="dropdownBasic1" ngbDropdownToggle><img style=" width: 60px;" src="../assets/images/icono_account.png" /></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a style="text-decoration: none;" routerLink="/edit-user"><button ngbDropdownItem>Mi Perfil</button></a>
              <div class="dropdown-divider"></div>
              <a style="text-decoration: none;" routerLink="/login" (click)="logOut()"><button ngbDropdownItem>Cerrar Sesion</button></a>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
<!--centro de la pagina-->
<div style="justify-content: center; display: flex; background-color: #ffffff77">
  <div
    *ngIf="user_tipo == 'FoodTrucker'"
    style="width: fit-content; text-align: center"
    class="justify-content-md-center"
  >
    <h1>¿Te perdiste?</h1>
    <br />
    <a
      routerLink="/home-foodtrucker"
      class="btn btn-primary btn-lg"
      style="margin-right: 15px"
      href="#"
      role="button"
      >Volver a mi Home</a
    >
  </div>
</div>
<!--formulario de busqueda-->
<div class="row justify-content-md-center" style="width: 100%; justify-content: center;">
  <div style=" width: fit-content;height: fit-content;padding: 5px ;background-color: #e2e2e2c9; border-radius: 10px; text-align: center;">
    <h2 style="color: black; -webkit-text-stroke: 2px #000000AA;">BUSCA TU FOODTRUCK</h2>
    <form class="container">
      <div class="row">
        <div class="col-md">
          <label><b>ZONA</b></label><br>
          <input type="text" placeholder="Zona" style="padding-left: 8px;">
        </div>
        <div class="col-md">
          <label><b>TIPO DE COMIDA</b></label><br>
          <input type="text" placeholder="Tipo de Comida" style="padding-left: 8px;">
        </div>
        <div class="col-md">
          <label><b>NOMBRE</b></label><br>
          <input type="text" placeholder="Nombre o Palabra relacionada" style="padding-left: 8px;">
        </div>
        <div class="col-md">
          <br>
          <button style="background-color: #000000bb; border-radius: 10px; color: white; height: fit-content; text-align: center; " type="submit">
            <div style="padding-left: 13px; padding-right: 13px; font-size: 20px;"><b style="-webkit-text-stroke: 1.5px #000000bb;">BUSCAR</b></div>
          </button>
        </div>
      </div>  
    </form>
  </div>
</div>

<!--parte central a dividir entre solicitudes finalizadas y mejores foodtrucks-->
<div class="row" style="overflow: hidden;margin-top: 30px; max-height: 450px; margin-bottom: 15px;">
  <!--DIV DE RESERVAS-->
  <div class="col" style="margin-left: 60px; margin-right: 80px;">
    <div style="text-align: left;">
      <h3 style="color: white; -webkit-text-stroke: 2px #000000AA;"><b>Mis Reservas Finalizadas</b></h3>
    </div>
    <div style="overflow: auto; background-color: #e2e2e2c9; border-radius: 10px;max-height: 400px; padding-top: 15px ;padding-bottom: 10px;">
      <!--Div con DATA de UNA solicitud-->
      <div class="container" style="background-color: #00000068; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
        <div class="row h-100" style=" margin-bottom: 15px;">
          <div class="col-4 my-auto">
            <div style="color: white; -webkit-text-stroke: 0.5px #000000AA; font-size: 22px; 
                        text-align: center; border-right: 2px solid white">
              EVENTO
            </div>
          </div>
          <div class="col-4 my-auto">
            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 18px; text-align: left; font-weight: bold;">
              Picurba: Picnic Urbano
            </div>
            <div style="color: white;font-size: 18px; text-align: left;">
              18 Ago. 2021 - 18hs
            </div>
          </div>
          <div class="col-4 my-auto" style="text-align: center;">
            <button class="btn btn-outline-warning">VALORAR</button>
          </div>
        </div>
        <div class="row h-100">
          <div class="col-4 my-auto" style="vertical-align: middle;">
            <div style="color: white; -webkit-text-stroke: 0.5px #000000AA; font-size: 22px; 
                        text-align: center; border-right: 2px solid white">
              FOODTRUCK
            </div>
          </div>
          <div class="col-4 my-auto" style="vertical-align: middle;">
            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 18px; text-align: left; font-weight: bold;">
              Gin Bar
            </div>
            <div style="color: white;font-size: 18px; text-align: left; ">
              Cocteleria
            </div>
          </div>
          <div class="col-4 my-auto">
          </div>
        </div>
      </div>

      <!--Div con DATA de UNA solicitud-->
      <div class="container" style="background-color: #00000068; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
        <div class="row h-100" style=" margin-bottom: 15px;">
          <div class="col-4 my-auto">
            <div style="color: white; -webkit-text-stroke: 0.5px #000000AA; font-size: 22px; 
                        text-align: center; border-right: 2px solid white">
              EVENTO
            </div>
          </div>
          <div class="col-4 my-auto">
            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 18px; text-align: left; font-weight: bold;">
              Picurba: Picnic Urbano
            </div>
            <div style="color: white;font-size: 18px; text-align: left;">
              18 Ago. 2021 - 18hs
            </div>
          </div>
          <div class="col-4 my-auto" style="text-align: center;">
            <button class="btn btn-outline-warning">VALORAR</button>
          </div>
        </div>
        <div class="row h-100">
          <div class="col-4 my-auto" style="vertical-align: middle;">
            <div style="color: white; -webkit-text-stroke: 0.5px #000000AA; font-size: 22px; 
                        text-align: center; border-right: 2px solid white">
              FOODTRUCK
            </div>
          </div>
          <div class="col-4 my-auto" style="vertical-align: middle;">
            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 18px; text-align: left; font-weight: bold;">
              Gin Bar
            </div>
            <div style="color: white;font-size: 18px; text-align: left; ">
              Cocteleria
            </div>
          </div>
          <div class="col-4 my-auto">
          </div>
        </div>
      </div>

      <!--Div con DATA de UNA solicitud-->
      <div class="container" style="background-color: #00000068; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px;">
        <div class="row h-100" style=" margin-bottom: 15px;">
          <div class="col-4 my-auto">
            <div style="color: white; -webkit-text-stroke: 0.5px #000000AA; font-size: 22px; 
                        text-align: center; border-right: 2px solid white">
              EVENTO
            </div>
          </div>
          <div class="col-4 my-auto">
            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 18px; text-align: left; font-weight: bold;">
              Picurba: Picnic Urbano
            </div>
            <div style="color: white;font-size: 18px; text-align: left;">
              18 Ago. 2021 - 18hs
            </div>
          </div>
          <div class="col-4 my-auto" style="text-align: center;">
            <button class="btn btn-outline-warning">VALORAR</button>
          </div>
        </div>
        <div class="row h-100">
          <div class="col-4 my-auto" style="vertical-align: middle;">
            <div style="color: white; -webkit-text-stroke: 0.5px #000000AA; font-size: 22px; 
                        text-align: center; border-right: 2px solid white">
              FOODTRUCK
            </div>
          </div>
          <div class="col-4 my-auto" style="vertical-align: middle;">
            <div style="color: white;-webkit-text-stroke: 0.5px #000000AA;font-size: 18px; text-align: left; font-weight: bold;">
              Gin Bar
            </div>
            <div style="color: white;font-size: 18px; text-align: left; ">
              Cocteleria
            </div>
          </div>
          <div class="col-4 my-auto">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--DIV DE TOP FOODTRUCKS-->
  <div class="col" style="margin-left: 60px; margin-right: 60px; max-width: 650px;">
    <div style="text-align: left;">
      <h3 style="color: white; -webkit-text-stroke: 2px #000000AA;"><b>Mejores FoodTrucks</b></h3>
    </div>
    <div style="overflow: auto; background-color: #e2e2e2c9; border-radius: 10px;max-height: 450px;">
      <!--CAROUSEL BOOTSTRAP-->
      <ngb-carousel style="max-height: 450px;" #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let img of images; index as i">
          <div class="carousel-caption">
            <h3 style="-webkit-text-stroke: 1px black;">{{ puntajes[i] }} Pts.</h3>
          </div>
          <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
              <div style=" position: absolute; background: linear-gradient(90deg, rgba(0,0,0,0.7637255585828081) 5%, rgba(255,130,0,0.02) 100%);" class="container">
                <div class="row" style="margin-left: 25px;">
                  <div style="font-size: 65px; color: white; -webkit-text-stroke: 1.5px #000000aa;">
                    {{ i + 1 }}
                  </div>
                  <div class="my-auto" style="margin-left: 40px;">
                    <div class="row">
                      <b style="font-size: 25px; color: white; -webkit-text-stroke: 1px #000000aa;">{{ ft[i] }}</b>
                    </div>
                    <div class="row">
                      <div style="font-size: 25px; color: white; -webkit-text-stroke: 0.5px #000000aa;"> Cocteleria </div>
                    </div>
                  </div> 
                </div>
              </div>
              <img [src]="img" alt="My image {{i + 1}} description" style="max-height: 400px;">
            </div>
          </a>
        </ng-template>
      </ngb-carousel>

    </div>
  </div>
</div>

<!-- Cartel de En Desarrollo

  <div
  *ngIf="user_tipo == 'Organizador'"
  class="jumbotron"
  style="background-color: #fefefebb"
>
  <div>
    <h1 class="display-4">
      ¡Bienvenido <b> {{ user_username }}</b>!
    </h1>
    <p class="lead">Este es el home para los usuarios <b>Organizadores</b>.</p>
    <hr class="my-4" />
    <p>
      Todavia esta en desarrollo, por lo que por el momento solo podes realizar
      las siguientes acciones.
    </p>
    
  </div>
</div>-->
