<!-- despues borrar  -->
<div style="text-align: center">
  <div style="background: linear-gradient(180deg, rgba(255,130,0,0.7637255585828081) 10%, rgba(255,130,0,0.02) 100%);
              width:100%;
              display: inline-block;">
    <div style="float: left;margin-top: 10px;">
      <img style="width: 400px;" src="../assets/images/logo_app_2.png" />
    </div>
    <div style="margin-top: 2%; ;float: right; margin-right: 40px;">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="" id="botonCuenta" style="border-radius: 100px; outline: none; background-color: transparent; border: none" id="dropdownBasic1" ngbDropdownToggle><img style=" width: 60px;" src="../assets/images/icono_account.png" /></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a style="text-decoration: none;" routerLink="/edit-user"><button ngbDropdownItem>Mi Perfil</button></a>
              <div class="dropdown-divider"></div>
              <a style="text-decoration: none;" routerLink="/login" (click)="logOut()"><button ngbDropdownItem>Cerrar Sesion</button></a>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div><br>
<div style="text-align: center">
<div style=" margin-top: 0.5%;color: #000000cc;">   
  <div *ngIf="enviado" class="row justify-content-md-center" style="text-align: center;">
    <div class="alert alert-success col-md-3" role="alert">
      ¡Perfil editado con exito!
    </div>  
  </div>
  <div style="justify-content: center; display: flex;">
    <div style="background-color: #ffffffbb; padding-top: 20px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; border-radius: 10px;" class="justify-content-md-center col-md-6">
      <div style="text-align: center;">
        <h1><b>EDITAR PERFIL</b></h1>
      </div>
      <form #edit="ngForm" ngNativeValidate (ngSubmit)="onSubmit(edit)">
        <div class="form row">
          <div class="form-group col-md-6">
            <label for="">Nombre</label>
            <input
              type="text"
              name="nombre"
              ngModel
              required
              value="{{nombre}}"
              placeholder="Ingrese un nombre"
              class="form-control"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Apellido</label>
            <input
              type="text"
              name="apellido"
              ngModel
              required
              value="{{apellido}}"
              placeholder="Ingrese un apellido"
              class="form-control"
            />
          </div>
        </div>
        <div class="form row">
          <div class="form-group col-md-6">
            <label for="">Usuario</label>
            <input
              type="text"
              name="username"
              ngModel
              value="{{username}}"
              required
              placeholder="Ingrese un usuario"
              class="form-control"
            />
          </div>
      
          <div class="form-group col-md-5">
            <div>
              <label for=""> Contraseña</label>
              <input
                type="{{tipoPass}}"
                name="password"
                ngModel
                required
                value="{{password}}"
                placeholder="Ingrese un contraseña"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-1" style="text-align: left; margin-left: 0px; display: flex; align-items: center;">
            
            <button
              style="background-color: transparent; border-color: transparent;"
              (click)="changePass()"
              role="button"
              type="button"
            >
            <img style="height: 20px; width: 25px; margin-top: 10px;" src="../assets/images/password.png" />
            </button>
          </div>
        </div>
        
        <div class="form row">
          <div class="form-group col-md-12">
            <label for="">Email</label>
            <input
              type="text"
              name="email"
              ngModel
              required
              value="{{email}}"
              placeholder="Ingrese un email"
              class="form-control"
            />
          </div>
        </div>
        
        <div style="text-align: center;" class="col-md-12">
          <button type="submit" class="btn btn-primary">ENVIAR</button>
        </div>

      </form>
    </div>
  </div>
  <br>
  <div style="text-align: center;">
    <a
            class="btn btn-primary btn-lg"
            role="button"
            (click)="redireccionar()"
            >Volver al Home</a>
  </div>
</div>